/* Hide the browser's default checkbox */
/* Create a custom checkbox */
/* On mouse-over, add a grey background color */
/* When the checkbox is checked, add a blue background */
/* Create the checkmark/indicator (hidden when not checked) */
/* Show the checkmark when checked */
/* Style the checkmark/indicator */
/* Hide the browser's default checkbox */
/* Create a custom checkbox */
/* On mouse-over, add a grey background color */
/* When the checkbox is checked, add a blue background */
/* Create the checkmark/indicator (hidden when not checked) */
/* Show the checkmark when checked */
/* Style the checkmark/indicator */
.form-check {
  .label-wrapper {
    // display: block;
    // position: relative;
    padding-left: 2rem;
    margin-bottom: 0.6rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    // font-weight: 700;
    font-size: 1.1rem;
    text-align: left;
  }
  .label-wrapper {
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked {
        ~ {
          .checkmark {
            background-color: black;
            &:after {
              display: block;
            }
          }
        }
      }
    }
    &:hover {
      input {
        ~ {
          .checkmark {
            background-color: #cccccc84;
          }
        }
      }
    }
    .checkmark {
      // position: absolute;
      display: flex;

      top: 0;
      left: 0;
      margin-right: 0.5rem;
      height: 2rem;
      width: 2rem;
      background-color: #eee;
      border: 2px solid black;
      &:after {
        width: 2rem;
        height: 2rem;
        top: -0.2rem;
        content: url(../../../img/tick_submenu.svg);
        position: absolute;
      }
    }
  }
}
