.content-body {
  .Piano {
    height: 100%;
    min-width: 100%;
  }

  .Piano {
    display: flex;
    flex: 1;
    height: 87vh;
    /*flex-direction: column;*/
  }

  /* keyboard */

  .Keyboard {
    background: #f1f1da;

    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align items in Main Axis */
    align-items: stretch;
  }

  /** Key **/

  .Key {
    flex: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    pointer-events: none;
    /* makes it click thru */
    position: relative;
  }

  .Key .note {
    opacity: 0.4;
    text-align: center;
    font-weight: bolder;
    font-size: 3.2vmin;
  }

  .color-key {
    background: yellow;
    display: grid;
    grid-template-rows: 60% 30%; //this is set as inlinestyle in colorkey.js
    grid-gap: 0px;
    grid-template-areas:
      "noteName"
      "staff"
      ".";
    align-items: end;

    .noteWrapper {
      opacity: 1;
      // text-shadow: 0px 0px -0px rgb(250, 244, 244), 0 0 0.01em rgb(66, 66, 68),
      //   0 0 0.001em rgb(245, 245, 251);
      grid-area: noteName;
      // background: yellow;
      display: grid;
      grid-template-rows: repeat(6, auto);
      grid-gap: 1px;
      grid-template-areas:
        "extension"
        "step"
        "relative"
        "romance"
        "german"
        "english";
      align-items: start;
      justify-items: stretch;
      align-content: stretch;
      justify-content: center;

      &--English {
        grid-area: english;
      }
      &--German {
        grid-area: german;
      }
      &--Romance {
        grid-area: romance;
      }
      &--Relative {
        grid-area: relative;
      }
      &--Step {
        grid-area: step;
      }
      &--Extension {
        grid-area: extension;
      }
    }

    .musical-staff {
      grid-area: staff;
      align-self: center;
    }
  }

  .Key.on.active .color-key {
    box-shadow: inset 0px 0px 3px black;
  }

  .c-mark {
    border-left: 3px solid #000000;
  }

  .Key .seventh {
    position: absolute;
    top: 15%;
    font-size: 24px;
    text-align: center;
  }

  //.note .off {
  /*do not display the note names */
  //display: none;
  //}
  /*
  .Piano .Key.off {
    display: none;
  }
  
  .Piano.showOffNotes .Key.off {
    display: flex;
  }*/

  .Key .piano-key {
    border-top: 0px;
    z-index: 2;
    border-bottom: 1px solid #3f3f3f;
    // animation: slide-up 0.2s ease;
  }

  @keyframes slide-up {
    0% {
      opacity: 0;
      //transform: translateY(20px);
    }

    100% {
      opacity: 1;
      //transform: translateY(0);
    }
  }

  .Key.black {
    z-index: 3;
  }

  .Key.black .piano-key {
    height: 30%;
    background-color: transparent;
  }

  .Key.black .blackPianoKeyContainer {
    height: 100%;
  }

  .Key.black .piano-key .blackPianoKeyFiller {
    height: 35%;
    visibility: hidden;
  }

  .Key.black .piano-key .blackPianoKey {
    pointer-events: all;
    height: 65%;
    background-color: black;
  }

  .Key.white .piano-key {
    height: 30%;
    background-color: white;
    border-left: 1px solid #3f3f3f;
    width: 178%;
    position: relative;
    pointer-events: all;
  }

  .Key.on .piano-key.white:hover,
  .Key.on .piano-key.black .blackPianoKey:hover {
    background-color: #aaa;
    box-shadow: inset 0px 0px 3px black;
  }

  .Key.off .piano-key.white {
    background-color: #ddd;
  }

  .Key.off .piano-key.black .blackPianoKey {
    background-color: #666;
  }

  .Key.on .color-key {
    pointer-events: all;
  }

  .piano-key {
    &.c {
      left: 0%;
    }

    &.d {
      left: -34%;
    }

    &.e {
      left: -65%;
    }

    &.f {
      left: 6%;
    }

    &.g {
      left: -22%;
    }

    &.a {
      left: -50%;
    }

    &.b {
      left: -76%;
    }

    &.e,
    &.b {
      border-right: 1px solid #3f3f3f;
    }
  }

  .black {
    border-top: 0px;
    z-index: 2;
  }

  .text {
    text-align: center;
  }
}
