.content-body {
  .Piano {
    height: 100%;
    min-width: 100%;
    display: flex;
    flex: 1;
    height: 87vh;
  }

  /* keyboard */
  .Keyboard {
    background: #f1f1da;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }

  /** Key **/
  .Key {
    flex: 1;
    min-width: 0;  // IMPORTANT: allows flex items to shrink
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    pointer-events: none;
    position: relative;
  }

  // This rule no longer applies since we're using SVG
  // Remove or comment out if causing issues
  .Key .note {
    opacity: 1;  // Changed from 0.4 since SVG controls its own opacity
  }

  .color-key {
    background: yellow;
    display: grid;
    grid-template-rows: 30vh 1fr;
    grid-gap: 0px;
    grid-template-areas:
      "noteName"
      "staff";
    align-items: stretch;
    width: 100%;
    height: 100%;

    .noteWrapper {
      opacity: 1;
      grid-area: noteName;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: stretch;
      gap: 1px;
      padding-top: 10vh;

      // Base styling for all notation names (SVG elements)
      .noteName {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    .musical-staff {
      grid-area: staff;
      align-self: flex-end;
    }
  }

  .Key.on.active .color-key {
    box-shadow: inset 0px 0px 3px black;
  }

  .c-mark {
    border-left: 3px solid #000000;
  }

  .Key .seventh {
    position: absolute;
    top: 15%;
    font-size: 24px;
    text-align: center;
  }

  .Key .piano-key {
    border-top: 0px;
    z-index: 2;
    border-bottom: 1px solid #3f3f3f;
  }

  @keyframes slide-up {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .Key.black {
    z-index: 3;
  }

  .Key.black .piano-key {
    height: 30%;
    background-color: transparent;
  }

  .Key.black .blackPianoKeyContainer {
    height: 100%;
  }

  .Key.black .piano-key .blackPianoKeyFiller {
    height: 35%;
    visibility: hidden;
  }

  .Key.black .piano-key .blackPianoKey {
    pointer-events: all;
    height: 65%;
    background-color: black;
  }

  .Key.white .piano-key {
    height: 30%;
    background-color: white;
    border-left: 1px solid #3f3f3f;
    width: 200%;
    position: relative;
    pointer-events: all;
  }

  .Key.on .piano-key.white:hover,
  .Key.on .piano-key.black .blackPianoKey:hover {
    background-color: #aaa;
    box-shadow: inset 0px 0px 3px black;
  }

  .Key.off .piano-key.white {
    background-color: #ddd;
  }

  .Key.off .piano-key.black .blackPianoKey {
    background-color: #666;
  }

  .Key.on .color-key {
    pointer-events: all;
  }

  .piano-key {
    &.c {
      left: 0%;
    }
    &.d {
      left: -34%;
    }
    &.e {
      left: -65%;
    }
    &.f {
      left: 0%;
    }
    &.g {
      left: -22%;
    }
    &.a {
      left: -50%;
    }
    &.b {
      left: -76%;
    }
    &.e,
    &.b {
      border-right: 1px solid #3f3f3f;
    }
  }

  .black {
    border-top: 0px;
    z-index: 2;
  }

  .text {
    text-align: center;
  }
}