.musical-staff {
  position: relative;
  grid-area: staff;
  z-index: 10;
  pointer-events: none; /* makes it click thru */
  width: 100%;
  height: 100%;
  & svg {
    width: 100%;
    height: 100%;
    & > rect {
      width: 0 !important;
    }
  }
}
