.musical-staff {
  position: relative;
  grid-area: staff;
  z-index: 10;
  pointer-events: none; /* makes it click thru */
  & svg {
    width: 100%;
    height: auto;
    & > rect {
      width: 0 !important;
    }
  }
}
