.menu-root {
  .form-row {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-left: 0.3vw;
    display: flex;
    flex-wrap: wrap;
    // margin-right: -5px;
    // margin-left: -5px;
    justify-content: space-around;
  }

  .form-check {
    input[type="radio"] {
      opacity: 0;
      cursor: pointer;
    }

    &-label {
      border: 1px solid black;
      border-radius: 25%;
      width: 1.9vw;
      text-align: center;
      display: block;
      cursor: pointer;
      position: relative;
      left: -2vw;
      transition: all 0.2s ease-out;
    }

    &-input[class^="accidental"] + &-label {
      border: 1px solid black;
      color: black;
    }

    // @media (min-width: 1537px) {
    //   .form-check-label {
    //     width: 1.8vw;
    //   }
    // }

    .form-check-input:disabled ~ .form-check-label,
    .form-check-input[disabled] ~ .form-check-label {
      border: none;
      color: #777;
      cursor: default;
    }
  }
}
