.share {
  cursor: pointer;
}

.Bottom-Info-Row {
  background-color: #7fff00;
  text-align: center;
  padding: 5px;
}

.Bottom-Info-Row a {
  text-decoration: underline;
}


.share-link {
  color: rgb(255, 255, 255);
  padding: 1vw 3vw 4vw 3vw;

  h2 {
    margin-bottom: 0.4vw;
    font-size: 2vw;
  }
  p {
    font-family: "Quicksand", sans-serif;
    margin-bottom: 2vw;
    font-size: 1vw;
  }
  button {
    font-family: "Quicksand", sans-serif;
    margin-left: 1vw;
    padding: 0 0.8vw;
    font-size: 1vw;
    font-weight: bold;
    height: 3.2vw;
    margin-bottom: 0.3vw;

  }

  .message {
    display: block;
    visibility: hidden;
    color: green;
    transition: 0.3s ease-in;
    opacity: 0;
    font-size: 1vw;

    &.show {
      visibility: visible;
      opacity: 1;
    }
  }
}

// TODO: 29-07-2022 seams to be unused

// .notio-popup.popup-share {
//   height: auto;

//   a {
//     height: 3.2vw;
//     font-size: 1vw;
//   }
// }
