.sub-menu {
  
  // position: relative;
  // align-self: end;

  // display: flex;
  // min-width: 9.4vw;
  // height: 60%;
  // flex-direction: column;
  // align-items: center;
  


  .button {
    align-self: center;
    flex: 1 1;
    height: 100%;
    width: 100%;
    // width: 8.7vw;
    background-color: white;
    border-radius: 3em;
    padding: 0.4em 0 0.4em 0;
    margin: 0 auto;
    position: relative;
    z-index: 11;
    color: black;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    // font-size: 1.5em;

    //This hides the white submenu button
    .menu-root & {
      background-color: transparent;
    }

    &.selected {
      background: black;
      z-index: 20;
      color: white;

      .menu-root & {
        background-color: transparent;
      }

      & .clef {
        height: 5vh;
        fill: white;

        & .fil0,
        & .fil1 {
          stroke: white;
          fill: white;
        }
      }
    }
  }

  

  // .clef {
  //   width: 1vw;
  //   height: 4vh;
  //   vertical-align: middle;
  // }

  &__item {
    &__selected {
      margin-left: 0.3vw;
    }
  }

  hr {
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 2vh;
    position: relative;
    background-color: black;
    width: 70%;

    &.selected {
      z-index: 20;
      display: block;
    }
  }

  &__content {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out;
    width: 9.7vw;
    background-color: white;
    border-bottom-left-radius: 10% 5%;
    border-bottom-right-radius: 10% 5%;
    position: absolute;
    top: -1em;
    z-index: 9;
    color: black;
    overflow: scroll;
    padding-left: 0;
    padding-right: 0;
    padding-top:7vw; //positions the first row of the submenu items
    padding-bottom:2.7vw;
    // padding: 6vw 1vh 1vh 2.7vh;
    // padding-top: 9vw;
    box-shadow: 5px 3px 15px #666;
    font-weight: 700;
    font-size: 0.7vw;

    // .menu-root & {
    //   padding-top: 9.5vw;
    // }

    &.selected {
      opacity: 1;
      z-index: 15;
      visibility: visible;
    }
  }

  .label-wrapper {
    background:blue;
    text-align: center;
    max-width: 6vw;

    .label {
      font-size: 0.8rem;
      font-weight: bold;
      font-weight: 1vw;
      display: inline-block;
    }
  }
}



.menu-notation {
  .sub-menu {
    // .content {
    //   padding-top: 9vw;
    // }
    .button{
      font-size:small;
    }
  }
}

.menu-root {
  .arrow-down {
    left: 50%;
    top: 97%;
    max-width: 3vh;

    &:hover {
      left: 50%;
      top: 97%;
    }
  }

  .sub-menu {
    &__title {
      font-size: 2vh;
    

      &.selected {
        display: block;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 5vh;
        max-height: 5vh;
        // color: white;
      }
    }
    

    .button {
      padding: 0 1.9vw 0 1.8vw;
      margin-left: 1.5em;
      margin-right: 1.5em;
      // margin: 0em 1.5em 2em;

      &.selected {
        color: black;
      }
    }
    .content{
      align-items: center;
      // padding-left: 0;
      // padding-right: 0;

    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-content: space-between;

      // padding: 6vw 1vh 1vh 5vh;
      // font-size:large;
    }
    .rootform{
      margin-left: 0.1vw;
      padding-left: 0.5vw;
      padding-right: 0.5vw;
    }
    .octave{
      margin-left: 0.1vw;
      padding-left: 0.7vw;
    }
  }
}

.menu-scale {
  .sub-menu {
    .button {
      padding: 1.2vh 0;
    }

    // .content {
    //   padding: 8.5vw 1vw 1vw 1vw;
    // }

    .label-wrapper {
      max-width: 100%;
      font-size: 0.7vw;
    }
  }
}

.menu-clef {
  .sub-menu {
    .label-wrapper {
      text-align: left;
      max-width: 100%;
      font-size: 0.7vw;


      .clef {
        // width: 1%;
        height: 5vh;
        vertical-align: middle;
        // margin-left: 2.2vw;
      }
    }

    // .content {
    //   padding: 17.7vh 1vw 1vh 1vw;

    //   @media (min-height: 1537px) {
    //     padding: 14.5vw 1vw 1vh 1vw;
    //   }
    // }
  }
}

//padding: 1em 0;



.circledButton {
  text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
display:flex;
  // display: inline-block;
  // position: relative;
  height: 3.4vw;
  width: 3.4vw;
  max-height: 7vh;
  max-width: 7vh;
  background-color: #fff;
  // border-radius: 50%;
  // margin: 1vh auto;
  // padding: 0.4em 0.4em 0.4em 0.4em;

  // // display: flex;
  // flex: 0 0 auto;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

.VideoSVG {
  width: 60%;
  height:auto;
  // position: relative;
  // top:50%;
  // transform: translate(0, -50%);

  // margin: 30%;
  // flex: 0 0 auto;
  // transform: translate(0, 62%);
  // @media (min-width: 1537px) {
  //   // transform: translate(0, 68%);
  // }
}
.share-svg {
  width: 50%;
  height:auto;
  // position: relative;
  // top:50%;
  // transform: translate(0, -50%);

  // margin: 30%;
  // flex: 0 0 auto;
  // transform: translate(0, 62%);
  // @media (min-width: 1537px) {
  //   // transform: translate(0, 68%);
  // }
}

.react-player {
  overflow: hidden;
}



.half-circle {
  width: 200px;
  height: 50px;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  border: 10px solid #000;
  border-bottom: 0;
  background-color: red;
}
