.navbar {
  background-color: black;
  width: 98%;
  height: 13vh;
  float: left;
  padding: 0.5rem;
  color: white;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  &-item {
    height: 100% !important;

    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: nowrap;
    flex:1 1 auto;
    row-gap:10px;

    .title-wrapper {
      align-self: end;//position the title at the bottom of the navbar

      display: flex;
      flex-direction: row;
      flex: 1 1 auto;
      align-items: flex-end;
    }
    .title {
      font-size: 0.9vw;
      font-weight: bold;
      width: 100%;
    }
  }

  .widget-wrapper {
    align-self:center;
    flex: 1 1 auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sub-menu{
    align-self:center;
    flex: 1 1 auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  // .label-wrapper {
  //   text-align: center;
  //   max-width: 6vw;

  //   .label {
  //     font-size: 0.8rem;
  //     font-weight: bold;
  //     font-weight: 1vw;
  //     display: inline-block;
  //   }
  // }
}
