.navbar {
  background-color: black;
  width: 98%;
  height: 13vh;
  float: left;
  padding: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: white;
  justify-content: space-between;

  &-item {
    height: 100% !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: nowrap;
    /* align-self: self-start; */
    justify-content: flex-start;
    // flex: 1 1;

    .title {
      font-size: 0.9vw;
      font-weight: bold;
      // background: red;
      width: 100%;
    }

    &.selected {
      z-index: 20;
      color: black;
      border-bottom: 1px solid black;
      padding-bottom: 1vw;
      bottom: 0;
      width: 7vw;
    }

    .title-wrapper {
      flex: 1 1;
      align-self: center;
      // background: orange;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }

    &.menu-clef {
      padding: 0;
      justify-content: space-between;
    }
  }

  .widget-wrapper {
    // background: blue;
    flex: 1 1;
  }

  .label-wrapper {
    text-align: center;
    max-width: 6vw;

    .label {
      font-size: 0.8rem;
      font-weight: bold;
      font-weight: 1vw;
      display: inline-block;
    }
  }
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.tooltip-topmenu {
  max-width: 200px;
}

.tooltip-keyboard {
  max-width: 600px;
}
