.video{ 

    &-url {
    font-size: 2rem;
    color: white;
    width: 100%;
    height: 100%;
    padding: 1rem;

    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr auto auto;
    grid-template-areas:
        "head   .   .   "
        "url   reset submit"
        "text text text"
        "currenturl currenturl currenturl ";
    grid-column-gap: 10px;
    grid-row-gap: 1px;
    align-items: stretch;
    justify-items: stretch;

        &__title{
            grid-area: head;
        }

        &__btn{
            &--reset{
                grid-area: reset;
                font-size: 2rem;

            }
            &--submit{
                background:green;
                grid-area: submit;
                font-size: 2rem;

            }
        }

        &__url-field{
            grid-area: url;
            font-size: 2rem;


        }

        &__explainer{
            grid-area: text;
        }

        &__currently-watching{
            grid-area:currenturl;
        }

        // & .text-muted {
        //     background: yellow;
            
        //   }
    }

    &__tutorial{
    color: white;
    
        &__list{
            height: 100%;

            display: grid;
            grid-template-rows: auto;
            grid-template-columns: repeat(2,1fr);
            grid-template-areas:
                "video   video    "
                "active active "
                "active active ";
            grid-column-gap: 10px;
            grid-row-gap: 1px;
            align-items: end;
            justify-items: start;

            &__item{
                width: 100%;
                height: 100%;
                display:flex;
                flex-direction: column;

                &__title{
                    margin-top:3vh;
                    color: white;
                    
                }
                // &__content{
                //     background: yellow;
                // }
                

            }
        }

    }
}
