.video{ 
    &-url {

    color: white;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 6fr 1fr 1fr;
    grid-template-areas:
        "head   .   .   "
        "url   url reset"
        "text text submit"
        "currenturl currenturl currenturl ";
    grid-column-gap: 10px;
    grid-row-gap: 1px;
    align-items: end;
    justify-items: start;

        &__title{
            grid-area: head;
            font-size: 18px;

        }

        &__btn{
            &--reset{
                grid-area: reset;
            }
            &--submit{
                background:green;
                grid-area: submit;
            }
        }

        &__url-field{
            grid-area: url;
        }

        &__explainer{
            grid-area: text;
            font-size: 18px;
        }

        &__currently-watching{
            grid-area:currenturl;
            font-size: 16px;
        }

        // & .text-muted {
        //     background: yellow;
            
        //   }
    }

    &__tutorial{
    color: white;
    
        &__list{
            height: 100%;

            display: grid;
            grid-template-rows: auto;
            grid-template-columns: repeat(2,1fr);
            grid-template-areas:
                "video   video    "
                "active active "
                "active active ";
            grid-column-gap: 10px;
            grid-row-gap: 1px;
            align-items: end;
            justify-items: start;

            &__item{
                width: 100%;
                height: 100%;
                display:flex;
                flex-direction: column;

                &__title{
                    margin-top:3vh;
                    color: white;
                    
                }
                // &__content{
                //     background: yellow;
                // }
                

            }
        }

    }
}
