@import "01_base/_base";
@import "01_base/animations";
@import "01_base/typography";
@import "01_base/utilities";
// @import "02_components/circleOfFifths.scss";
@import "02_components/loadingScreen.scss";
@import "02_components/toggle.scss";
// @import "02_components/notes.scss";
// @import "02_components/popup";
@import "02_components/musicalStaff.scss";
@import "02_components/share.scss";
@import "02_components/video_overlay.scss";
@import "02_components/topMenu.scss";
@import "02_components/SubMenu.scss";
@import "02_components/sideMenu.scss";
@import "02_components/customScaleMenu.scss";
@import "02_components/tooltip.scss";
@import "03_layout/_layout.scss";
@import "03_layout/svg/notation.scss";
@import "03_layout/svg/customScale.scss";
@import "03_layout/svg/arrow.scss";
@import "03_layout/svg/clefs.scss";
@import "03_layout/svg/share.scss";
@import "03_layout/svg/settings.scss";
@import "03_layout/svg/root.scss";
@import "03_layout/form/formCheck.scss";
@import "03_layout/form/listRadio.scss";
@import "02_components/root.scss";
@import "02_components/videoPlayer.scss";
@import "02_components/Overlay.scss";
@import "06_abstracts/generic.scss";

#root,
.Piano {
  height: 100%;
  min-width: 100%;
}

.Piano {
  display: flex;
  flex: 1;
  height: 87vh;
  /*flex-direction: column;*/
}

/* keyboard */

.Keyboard {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align items in Main Axis */
  align-items: stretch;
}

/** Key **/

.Key {
  flex: 1;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  pointer-events: none;
  /* makes it click thru */
  position: relative;
}

.Key .note {
  opacity: 0.4;
  text-align: center;
  font-weight: 700;
  font-size: 3vmin;
}

.Key.on.active .color-key {
  box-shadow: inset 0px 0px 3px black;
}

.c-mark {
  border-left: 3px solid #000000;
}

.Key .seventh {
  position: absolute;
  top: 15%;
  font-size: 24px;
  text-align: center;
}

//.note .off {
/*do not display the note names */
//display: none;
//}
/*
.Piano .Key.off {
  display: none;
}

.Piano.showOffNotes .Key.off {
  display: flex;
}*/

.Key .piano-key {
  border-top: 0px;
  z-index: 2;
  border-bottom: 1px solid #3f3f3f;
  // animation: slide-up 0.2s ease;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    //transform: translateY(20px);
  }

  100% {
    opacity: 1;
    //transform: translateY(0);
  }
}

.Key.black {
  z-index: 3;
}

.Key.black .piano-key {
  height: 30%;
  background-color: transparent;
}

.Key.black .blackPianoKeyContainer {
  height: 100%;
}

.Key.black .piano-key .blackPianoKeyFiller {
  height: 35%;
}

.Key.black .piano-key .blackPianoKey {
  pointer-events: all;
  height: 65%;
  background-color: black;
}

.Key.white .piano-key {
  height: 30%;
  background-color: white;
  border-left: 1px solid #3f3f3f;
  width: 171%;
  position: relative;
  pointer-events: all;
}

.Key.on .piano-key.white:hover,
.Key.on .piano-key.black .blackPianoKey:hover {
  background-color: #aaa;
  box-shadow: inset 0px 0px 3px black;
}

.Key.off .piano-key.white {
  background-color: #ddd;
}

.Key.off .piano-key.black .blackPianoKey {
  background-color: #666;
}

.Key.on .color-key {
  pointer-events: all;
}

.piano-key.c {
  left: 0%;
}

.piano-key.d {
  left: -34%;
}

.piano-key.e {
  left: -65%;
}

.piano-key.f {
  left: 6%;
}

.piano-key.g {
  left: -22%;
}

.piano-key.a {
  left: -50%;
}

.piano-key.b {
  left: -76%;
}

.piano-key.e,
.piano-key.b {
  border-right: 1px solid #3f3f3f;
}

.black {
  border-top: 0px;
  z-index: 2;
}

.text {
  text-align: center;
}
