.menu-scale {
  .sub-menu {
    .button {
      padding: 1.2vh 0;
    }

    .content {
      padding: 13vh 0.4vw 1vh 0.4vw;
    }

    .label-wrapper {
      max-width: 100%;
    }
  }
}

//padding: 1em 0;

.sub-menu {
  position: relative;
  min-width: 9.7vw;

  .button {
    width: 8.7vw;
    background-color: white;
    border-radius: 3em;
    padding: 0.4em 0 0.4em 0;
    margin: 0 auto;
    position: relative;
    z-index: 11;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 0.8em;

    &.selected {
      background: black;
      z-index: 20;
      color: white;
    }
  }

  .title {
    display: block;
    text-align: center;
    position: relative;
    z-index: 10;
    padding: 2vh 0 2vh 0;
    font-size: 1.45vh;
    font-weight: bold;
    &.selected {
      z-index: 20;
      color: black;
    }
  }

  hr {
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 2vh;
    position: relative;
    background-color: black;
    width: 70%;
    &.selected {
      z-index: 20;
      display: block;
    }
  }

  .content {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out;
    width: 9.7vw;
    background-color: white;
    border-bottom-left-radius: 10% 5%;
    border-bottom-right-radius: 10% 5%;
    position: absolute;
    top: -1em;
    z-index: 9;
    color: black;
    overflow: hidden;
    padding: 14.5vh 1vh 1vh 2.7vh;
    box-shadow: 5px 3px 15px #666;

    &.selected {
      opacity: 1;
      z-index: 15;
      visibility: visible;
    }
  }
}
