.navbar {
  background-color: black;
  width: 100%;
  height: 13vh;
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  color: white;

  &-item {
    margin: 0 1.5em;
    //flex: 1 1;
  }

  .widget-wrapper {
  }

  .label-wrapper {
    text-align: center;
    max-width: 6vw;

    .label {
      font-size: 0.8vw;
      font-weight: bold;
    }
  }
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
