//TODO:NOT IN USE YET ----do a BEM 7-1 setup, in here the layout of the basics is defined: Top-menu and content-body
.topmenu {
  background-color: black;
  display: flex;
  height: 15vh;
  width: 100%;
}

.blackout {
  position:fixed;
  z-index: 2; /* above everything else */
  top:0; left:0; bottom:0; right:0;
  background:rgba(0,0,0,.5);
}

.content-body {
  background-color: black;
  display: flex;
  height: 85vh;
  width: 100%;
}
