.notationSVG {
  // background-color: yellow;
  max-height: 3vh;
  min-height: 2vh;
  min-width: 90%;
  width: 5vw;
  margin: 1 auto;
  display: block;

  .typeA {
    font-size: 1.6rem;
  }
  .typeA,
  .typeB {
    font-family: Quicksand-Medium, Quicksand;
    font-weight: 700;
  }
  .typeB {
    font-size: 1rem;
  }
}

.selected {
  .notationSVG {
    .typeA,
    .typeB {
      fill: white;
    }
  }
}
