.notationSVG {

  width: 7em;

  .typeA {
    font-size:23.41px;
  }
  .typeA,
  .typeB {
    font-family:Quicksand-Medium, Quicksand;
    font-weight:700;
  }
  .typeB {
    font-size:18.17px;
  }
}

.selected {
  .notationSVG {
    .typeA, .typeB {
      fill: white;
    }
  }
}
