.share-svg {
  width: 1.3vw;
  transform: translate(120%, 72%);
}

.share-link {
  color: black;
  padding: 1vw 3vw 4vw 3vw;

  h2 {
    margin-bottom: 0.4vw;
    font-size: 2vw;
  }
  p {
    font-family: "Quicksand", sans-serif;
    margin-bottom: 1vw;
    font-size: 1vw;
  }
  button {
    font-family: "Quicksand", sans-serif;
    margin-left: 1vw;
    padding: 0 0.8vw;
    font-size: 1vw;
    font-weight: bold;
    height: 3.2vw;
  }
}

.notio-popup.popup-share {
  height: auto;

  a {
    height: 3.2vw;
    font-size: 1vw;
  }
}
