h1,
p {
  font-family: Lato;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #f1f1da;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

#root,
.Piano {
  height: 100%;
  min-width: 100%;
}

.Piano {
  display: flex;
  flex: 1;
  /*flex-direction: column;*/
}

.MainMenuDot {
  /*Bounce In Effect from Hover.css https://ianlunn.github.io/Hover/*/
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  /*mine */
  position: absolute;
  top: 5%;
  right: 5%;
  height: 50px;
  width: 50px;
  background-color: #129614;
  border-radius: 50%;
  z-index: 10;
}

/* taken from https://ianlunn.github.io/Hover/ */

.MainMenuDot:hover,
.MainMenuDot:focus,
.MainMenuDot:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.MainMenu {
  display: none;
  position: absolute;
  justify-content: space-between;
  flex-direction: column;
  width: 90%;
  left: 5%;
  top: 30%;
  z-index: 11;
  padding: 20px;
}

.MainMenu .div {
  flex: 1;
  text-align: center;
  margin-top: 10px;
}

.Menu-Row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.MainMenu .closeMenu {
  width: 40px;
  align-self: flex-end;
}

.MainMenu.open {
  display: flex;
  background-color: beige;
}

.modalCover {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.modalCover.open {
  display: block;
}

/* MainMenu - circle of fifths */

.circleFifths .note:hover path {
  fill-opacity: 100;
  stroke-width: 0;
}

.circleFifths .note.active path {
  fill-opacity: 100;
  stroke-width: 0;
}

/* keyboard */

.Keyboard {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center; /* align items in Main Axis */
  align-items: stretch;
}

/** Key **/

.Key {
  flex: 1;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Key .note {
  opacity: 0.4;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  display: flex;
  flex-direction: column;
}

.Key.active .note {
  opacity: 1;
  border: 2px solid #000;
  flex: 1;
}

.c-mark {
  border-left: 3px solid #000000;
}

.Key .seventh {
  position: absolute;
  top: 15%;
  font-size: 24px;
  text-align: center;
}

.Key .note:first-child {
  height: 120px;
  background-color: white;
  opacity: 1;
}

.note .off {
  /*do not display the note names */
  display: none;
}

.Key .piano-key {
  border-top: 0px;
  z-index: 2;
}

.Key.black .piano-key {
  height: 15%;
}

.Key.white .piano-key {
  height: 10%;
}

.Key.white .piano-key {
  border-bottom: 1px solid #3f3f3f;
}

.Key.white + .Key.white .piano-key {
  height: 10%;
  border-left: 1px solid #3f3f3f;
}

.Key:first-child .piano-key {
  height: 10%;
  background-color: white;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
}

.black {
  background-color: black;
  border-top: 0px;
  z-index: 2;
}

.white {
  background-color: white;
}

.off {
  opacity: 0.4;
}

.text {
  text-align: center;
}

.octave button,
.octave p {
  display: inline-block;
}
.octave button {
  margin: 3px 3px;
  width: 40px;
}

#musical-staff {
  position: absolute;
  z-index: 10;
  align-self: center;
  pointer-events: none; /* makes it click thru */
}
